<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% if request.session.first_name != None %}
<h3>Hi, {{ request.session.first_name }}</h3>
<a href="/ors/save/"><b>Add User</b></a> <b>|</b>
<a href="/ors/userlist"><b>User List</b></a> <b>|</b>
<a href="/ors/logout/"><b>Logout</b></a>
{% else %}


<h3>Hi, Guest</h3>
<a href="/ors/welcome/"><b>Welcome</b></a> <b>|</b>
<a href="/ors/signup/"><b>Registration</b></a><b>|</b>
<a href="/ors/signin"><b>Login</b></a>
{% endif %}
<hr>

</body>
</html>