<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include 'header.html' %}
<br><br><br>

<div align="center">

    <form method="POST">

        {% csrf_token %}
        <h1>Registration Form</h1>
        <table>
            <tr>
                <th>First Name</th>
                <td><input type="text" name="firstName"></td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td><input type="text" name="lastName"></td>
            </tr>
            <tr>
                <th>Login Id</th>
                <td><input type="text" name="loginId"></td>
            </tr>
            <tr>
                <th>Password</th>
                <td><input type="text" name="password"></td>
            </tr>
            <tr>
                <th>DOB</th>
                <td><input type="text" name="dob"></td>
            </tr>
            <tr>
                <th>Address</th>
                <td><input type="text" name="address"></td>
            </tr>
            <tr>
                <th></th>
                <td><input type="submit" value="signIn"></td>
            </tr>

        </table>
    </form>
</div>

</body>
</html>